.hello{
  text-align: center;
  padding-top: 250px;
}

.field{
  margin-top: 15px;
}

label{
  margin-right: 10px;
}

.registration{
  margin-left: 150px;
}

.right{
  margin-right: 300px;
  margin-top: 15px;
}

.left{
  margin-left: 300px;
  margin-top: 15px;
}

