.hello{
  text-align: center;
  
}

.field{
  margin-top: 15px;
}

label{
  margin-right: 10px;
}

.loginregister{
  background-color: green;
  min-height: 144px;
  color: white;
}

.button{
  margin-top: 15px;
  color: green;
  background-color: black;
}

.footer{
  min-height: 100px;
  margin-top: 25%;
  background-color: green;
}